<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Light !</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="wrapper">
    <img src="assets/images/post_it.png">
    <p><strong>Light ! :</strong>{{ " Make your ideas shine." | translate }}</p>
  </div>
  <img class="fixed-outside" [src]="imgSrc">
</ion-content>
