<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ "Homepage" | translate }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding id="getstart" [style.backgroundImage]="'url(' + bgImage + ')'">
    <img src="assets/logo.png">
    <h3>{{ "Project Mimir" | translate }}</h3>
    <div id="buttonContainer">
        <p>
            <button ion-button color="primary" (click)="playGame()">{{ "Play" | translate }}</button>
            <br/>
            <button ion-button color="primary" [navPush]="riddlesList">{{ "Riddles list" | translate }}</button>
            <br/>
            <button ion-button color="primary" [navPush]="contact">{{ "Contact" | translate }}</button>
            <br/>
            <button ion-button color="primary" [navPush]="settings">{{ "Settings" | translate }}</button>
        </p>
    </div>
     <img *ngIf="displayFrog" class="frogImg" src="assets/images/frog.png" (click)="frogEvent()">
</ion-content>
