<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Settings" | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
        <ion-card-content>
            <ion-card-title>
                {{ "Language" | translate }}
            </ion-card-title>
            <p>
              <button ion-button block (click)="translateTo('en')">{{ "Translate to english" | translate }}</button>
              <button ion-button block (click)="translateTo('fr')">{{ "Translate to french" | translate }}</button>
              <button ion-button block (click)="translateTo('es')">{{ "Translate to spanish" | translate }}</button>
            </p>
        </ion-card-content>
    </ion-card>
      <ion-card>
        <ion-card-content>
            <ion-card-title>
                {{ "Theme" | translate }}
            </ion-card-title>
            <p>
              <button ion-button block (click)="useTheme('assets/images/background_home.png')">{{ "Day Theme" | translate }}</button>
              <button ion-button block (click)="useTheme('assets/images/background_home_night.png')">{{ "Night Theme" | translate }}</button>
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>